#!/bin/bash
# This file is managed by Chef. Do NOT hand edit.
# Local modifications will be overwritten
# 
# Plus, this file is added only for compatibility purposes.
touch /var/lock/subsys/local

<% node['rclocal']['commands'].each do |cmd| %> 
<%= cmd %>
<% end %>