{
  "browserTimeout": <%= node['selenium']['hub']['browserTimeout'] %>,
  "capabilityMatcher": "<%= node['selenium']['hub']['capabilityMatcher'] %>",
  "cleanUpCycle": <%= node['selenium']['hub']['cleanUpCycle'] %>,
  "debug": <%= node['selenium']['hub']['debug'] %>,
  "jettyThreads": <%= node['selenium']['hub']['jettyThreads'] %>,
  "log": "<%= node['selenium']['hub']['log'] %>",
  "maxSession": <%= node['selenium']['hub']['maxSession'] %>,
  "newSessionWaitTimeout": <%= node['selenium']['hub']['newSessionWaitTimeout'] %>,
  "port": <%= node['selenium']['hub']['port'] %>,
  "role": "<%= node['selenium']['hub']['role'] %>",
  "servlet" : "<%= node['selenium']['hub']['servlet'] %>",
  "throwOnCapabilityNotPresent": <%= node['selenium']['hub']['throwOnCapabilityNotPresent'] %>,
  "timeout": <%= node['selenium']['hub']['timeout'] %>
}

