{
  "capabilities":
  [
    {
      "browserName": "<%= node['selenium']['node']['capabilities']['browserName'] %>",
      "maxInstances": <%= node['selenium']['node']['capabilities']['maxInstances'] %>,
      "seleniumProtocol": "<%= node['selenium']['node']['capabilities']['seleniumProtocol'] %>",
	  "chromeOptions": {
		"args": ["--start-maximized","--headless","--no-default-browser-check","--incognito", "--window-size=1920,1080", "--no-sandbox", "--disable-setuid-sandbox"]
	  }
    }
  ],
  "browserTimeout": <%= node['selenium']['node']['browserTimeout'] %>,
  "cleanUpCycle": <%= node['selenium']['node']['cleanUpCycle'] %>,
  "debug": <%= node['selenium']['node']['debug'] %>,
  "downPollingLimit": <%= node['selenium']['node']['downPollingLimit'] %>,
  "proxy": "<%= node['selenium']['node']['proxy'] %>",
  "hub": "<%= node['selenium']['node']['hub'] %>",
  "jettyThreads": <%= node['selenium']['node']['jettyThreads'] %>,
  "log": "<%= node['selenium']['node']['log'] %>",
  "maxSession": <%= node['selenium']['node']['maxSession'] %>,
  "nodePolling": <%= node['selenium']['node']['nodePolling'] %>,
  "nodeStatusCheckTimeout": <%= node['selenium']['node']['nodeStatusCheckTimeout'] %>,
  "port": <%= node['selenium']['node']['port'] %>,
  "register": <%= node['selenium']['node']['register'] %>,
  "registerCycle": <%= node['selenium']['node']['registerCycle'] %>,
  "role": "<%= node['selenium']['node']['role'] %>",
  "servlet" : "<%= node['selenium']['node']['servlet'] %>",
  "timeout": <%= node['selenium']['node']['timeout'] %>,
  "unregisterIfStillDownAfter": <%= node['selenium']['node']['unregisterIfStillDownAfter'] %>
}

