RDECK_HOME=<%=@rundeck[:basedir]%>
export RDECK_HOME

RDECK_BASE=<%=@rundeck[:basedir]%>
export RDECK_BASE

JAVA_CMD=java
RUNDECK_TEMPDIR=<%=@rundeck[:tempdir]%>

RDECK_HTTP_PORT=<%=@rundeck[:port]%>
RDECK_HTTPS_PORT=<%=@rundeck[:ssl][:port]%>

#
# If JAVA_HOME is set, then add it to home and set JAVA_CMD to use the version specified in that
# path.  JAVA_HOME can be set in the rundeck profile.  Or set in this file.
#JAVA_HOME=<path/to/JDK or JRE/install>

if [ ! -z $JAVA_HOME ]; then
	PATH=$PATH:$JAVA_HOME/bin
	export PATH
	JAVA_CMD=$JAVA_HOME/bin/java
fi



export CLI_CP=$(find <%=@rundeck[:basedir]%>/cli -name \*.jar -printf %p:)
export BOOTSTRAP_CP=$(find <%=@rundeck[:basedir]%>/bootstrap -name \*.jar -printf %p:)
<% authmodule = @rundeck[:jaas] != "internal" %>
export RDECK_JVM="-Djava.security.auth.login.config=<%=@rundeck[:configdir]%>/<%=authmodule ? "jaas-#{@rundeck[:jaas]}.conf" : "jaas-loginmodule.conf" %> \
	-Dloginmodule.name=<%=authmodule ? @rundeck[:jaas] : "RDpropertyfilelogin" %> \
	-Drdeck.config=<%=@rundeck[:configdir]%> \
	-Drdeck.base=<%=@rundeck[:basedir]%> \
	-Drundeck.server.configDir=<%=@rundeck[:configdir]%> \
	-Dserver.datastore.path=<%=@rundeck[:basedir]%>/data \
	-Drundeck.server.serverDir=<%=@rundeck[:basedir]%> \
	-Drdeck.projects=<%=@rundeck[:datadir]%>/projects \
	-Drdeck.runlogs=<%=@rundeck[:exec_logdir]%> \
	-Drundeck.config.location=<%=@rundeck[:configdir]%>/rundeck-config.properties \
	-Dserver.web.context=<%=@rundeck[:webcontext]%> \
	-Drundeck.jetty.connector.forwarded=true\
	-Djava.io.tmpdir=$RUNDECK_TEMPDIR"
#
# Set min/max heap size
#
RDECK_JVM="$RDECK_JVM <%=@rundeck[:jvm_mem]%> -server"

#
# Set custom JVM properties
#
<% if @rundeck[:custom_jvm_properties] %>
RDECK_JVM="$RDECK_JVM <%= @rundeck[:custom_jvm_properties]%>"
<% end %>
#
# SSL Configuration - Uncomment the following to enable.  Check SSL.properties for details.
#
<% if @rundeck[:use_inbuilt_ssl] %>
export RDECK_JVM="$RDECK_JVM -Drundeck.ssl.config=<%=@rundeck[:configdir]%>/ssl/ssl.properties -Dserver.https.port=${RDECK_HTTPS_PORT}"
<% end %>

export RDECK_SSL_OPTS="-Djavax.net.ssl.trustStore=<%= @rundeck[:configdir] %>/ssl/truststore -Djavax.net.ssl.trustStoreType=jks -Djava.protocol.handler.pkgs=com.sun.net.ssl.internal.www.protocol"

if test -t 0 -a -z "$RUNDECK_CLI_TERSE"
then
  RUNDECK_CLI_TERSE=true
  export RUNDECK_CLI_TERSE
fi

if test -n "$JRE_HOME"
then
   unset JRE_HOME
fi

umask 002
