<VirtualHost *:80>
        ServerName <%= node['rundeck']['hostname'] %>
        ServerAdmin <%= node['rundeck']['email'] %>
<% if node['rundeck']['use_ssl'] %>
        Redirect permanent / https://<%= node['rundeck']['hostname'] %>/
</VirtualHost>

<VirtualHost *:443>
        ServerName <%= node['rundeck']['hostname'] %>
        ServerAdmin <%= node['rundeck']['email'] %>
<% end %>
        ErrorLog <%= @log_dir %>/rundeck_error.log
        TransferLog <%= @log_dir %>/rundeck_access.log
<% if node['rundeck']['use_ssl'] and node['rundeck']['use_ssl_databag'] %>

        SSLEngine On
        SSLCertificateFile <%= node['apache']['dir'] %>/ssl/<%= node['rundeck']['cert']['name'] %>.crt
        SSLCertificateKeyFile <%= node['apache']['dir'] %>/ssl/<%= node['rundeck']['cert']['name'] %>.key
        SSLCertificateChainFile <%= node['apache']['dir'] %>/ssl/<%= node['rundeck']['cert']['ca_name'] %>.crt
<% end %>
<% if node['rundeck']['use_ssl'] and not node['rundeck']['use_ssl_databag'] %>

        SSLEngine On
        SSLCertificateFile "/etc/pki/tls/certs/localhost.crt"
        SSLCertificateKeyFile "/etc/pki/tls/private/localhost.key"
<% end %>



        DocumentRoot <%= @doc_root %>
        ServerSignature On
        
        <Proxy *>
        <IfModule mod_authz_core.c>
         	Require all granted
        </IfModule>
        <IfModule !mod_authz_core.c>
        	Order deny,allow
        	Allow from all
        </IfModule>
        </Proxy>
        
        ProxyPass        <%= node['rundeck']['webcontext'] %> http://<%= node['fqdn'] %>:<%= node['rundeck']['port'] %><%= node['rundeck']['webcontext'] %>
        ProxyPassReverse <%= node['rundeck']['webcontext'] %> http://<%= node['fqdn'] %>:<%= node['rundeck']['port'] %><%= node['rundeck']['webcontext'] %>
        
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Location /server-status>
          SetHandler server-status

        <IfModule mod_authz_core.c>
                Require ip 127.0.0.1
        </IfModule>
        <IfModule !mod_authz_core.c>
                Order deny,allow
                Deny from all
		Allow from 127.0.0.1
        </IfModule>

        </Location>
        
</VirtualHost>
