#loglevel.default is the default log level for jobs: ERR,WARN,INFO,VERBOSE,DEBUG
loglevel.default=<%= node['rundeck']['log_level'] %>

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=<%= node['rundeck']['rss_enabled'] %>
#
<% if @rundeck[:rdbms][:enable] == 'true' %>
  <% if @rundeck[:rdbms][:type] == 'mysql' %>
dataSource.url = jdbc:mysql://<%= @rundeck[:rdbms][:location] %>:<%= @rundeck[:rdbms][:port] %>/<%= @rundeck[:rdbms][:dbname] %>?autoReconnect=true
dataSource.driverClassName=com.mysql.jdbc.Driver
  <% else %>
dataSource.url = jdbc:oracle:thin:@:<%= @rundeck[:rdbms][:location] %>:<%= @rundeck[:rdbms][:port] %>:XE
dataSource.driverClassName = oracle.jdbc.driver.OracleDriver
dataSource.dialect = org.hibernate.dialect.<%= @rundeck[:rdbms][:dialect] %>
  <% end %>
dataSource.dbCreate=update
dataSource.username = <%= @rundeck[:rdbms][:dbuser] %>
dataSource.password = <%= @rundeck[:rdbms][:dbpassword] %>
<% end %>

<% if @rundeck[:rdbms][:enable] == false %>
dataSource.url = jdbc:hsqldb:file:/var/lib/rundeck/data/grailsdb;shutdown=true
<% end %>

rundeck.security.useHMacRequestTokens=false

<% if @rundeck[:mail][:enable] == true %>
grails.mail.host=<%=@rundeck[:mail][:host] %>
grails.mail.port=<%=@rundeck[:mail][:port] %>
<% unless @rundeck[:mail][:username].nil? %>grails.mail.username=<%=@rundeck[:mail][:username] %><% end %>
<% unless @rundeck[:mail][:password].nil? %>grails.mail.password=<%=@rundeck[:mail][:password] %><% end %>
<% end %>
grails.mail.default.from=<%=@rundeck[:email] %>

grails.serverURL=<%= @rundeck['grails_server_url'] %>:<%= @rundeck['grails_port'] %>

quartz.props.threadPool.threadCount = <%= @rundeck[:quartz][:threadPoolCount].to_i %>

# Custom config
<% if @rundeck[:custom_rundeck_config] %>
<% @rundeck[:custom_rundeck_config].sort.each do |key, value| %>
<%= key %>=<%= value %>
<% end %>
<% end %>
