JAVA_OPTIONS="<%= @java_options %>"
JETTY_HOME=<%= node['jetty']['jetty_home'] %>
JETTY_BASE=<%= @jetty_base %>
JETTY_PORT=<%= @port %>
JETTY_HOST=0.0.0.0
JETTY_USER=<%= @user %>
JETTY_GROUP=<%= @group %>
JETTY_LOGS=$JETTY_BASE/logs
