[Unit]
Description=Shibboleth Identity Provider

[Service]
Type=simple
ExecStart=/usr/bin/java <%= @java_options %> -Djetty.logging.dir=<%= @jetty_base %>/logs -Djetty.home=<%= node['jetty']['jetty_home'] %> -Djetty.base=<%= @jetty_base %> -Djava.io.tmpdir=/tmp -jar <%= node['jetty']['jetty_home'] %>/start.jar jetty.state=<%= @jetty_base %>/jetty.state jetty-logging.xml jetty-started.xml
User=<%= @user %>
Group=<%= @group %>
PIDFile=<%= @pid_file %>
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target