<Configure class="org.eclipse.jetty.webapp.WebAppContext">
  <Set name="war"><%= @home_dir %>/war/idp.war</Set>
  <Set name="contextPath">/idp</Set>
  <Set name="extractWAR">false</Set>
  <Set name="copyWebDir">false</Set>
  <Set name="copyWebInf">true</Set>
</Configure>
